
.navbar {
  background-color: palevioletred;
}

a {
  text-decoration: none;
  color: white;
}

.counter .controls {
  display: flex;
  gap: 10px;
}

.button {
  background-color: palevioletred;
  border-radius: 15px;
  margin-top: 5px;
  padding: 10px;
}




